


body{
    background-color:#ffb6c121;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    display:inline block;
    background-color:white;
}

h1{
    display:inline;
    background-color: #ffb6c1b2;
    text-align:center;
}


nav{
    display:inline;
}

nav ul{
    list-style: none;
    display: inline-flex;
    margin: 15px;
    margin-left: 475px;
    padding: 20px;
    margin-top:-75px;
    text-decoration:underline #ffb6c1b2;
}





#aboutme{
    margin-right: 13px;
    margin-left: 100px;
    color: #ffb6c1b2;
    text-align:center;
}

#work{
    margin-right: 15px;
    margin-left: 15px;
    color: #ffb6c1b2;
    text-align:center;
}
#contactme{
    margin-right: 15px;
    margin-left: 15px;
    color: #ffb6c1b2;
    text-align:center;
}

#resume{
    margin-right: 15px;
    margin-left:15px;
    color: #ffb6c1b2;
    text-align:center;
}



img{
    width: 1000px;
    height: 115px;
    object-fit:cover;
}

section{
    display: inline-flex;
    text-align:end;
}

p{
    display: block;
    margin-left: 320px;
    text-align:left;

}


h2, h3, h4{
    border-right: solid white 5px;
    padding:15px;
}


section ul{
    list-style: none;
    display: inline-flex;
    margin: 30px;
    margin-left: 325px;
}

section li{
    margin-right:20px;
}


.section4{
    display: inline-flex;
    margin: 15px;
}

li h4{
    text-decoration:underline #ffb6c1b2;
}